@model TwojDentysta.Models.Appointment

@{
    ViewBag.Title = "ConfirmData";
}

<h2>Potwierdź dane</h2>

@using (Html.BeginForm("ConfirmedData", "Appointments", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Date)
        @Html.HiddenFor(model => model.PhysiciansID)
        @Html.HiddenFor(model => model.LocationID)
        @Html.HiddenFor(model => model.Booked)
        @Html.HiddenFor(model => model.PatientFirstName)
        @Html.HiddenFor(model => model.PatientLastName)
        @Html.HiddenFor(model => model.PatientPhoneNumber)
        @Html.HiddenFor(model => model.PatientEmail)
        @Html.HiddenFor(model => model.Description)

        <div class="container" style="max-width:900px">
            <div class="row">
                <div class="col-md-6">
                    <h2>Informacje o wizycie</h2>
                    <div class="container">
                        <div class="row" style="padding-bottom:6px">
                            <div class="col-sm-2">
                                <b>Termin:</b>
                            </div>
                            <div class="col-sm-4">
                                @(Model.Date.ToString("dd.MM HH:mm"))
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:6px">
                            <div class="col-sm-2">
                                <b>Adres:</b>
                            </div>
                            <div class="col-sm-4">
                                @ViewBag.Location
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:6px">
                            <div class="col-sm-2">
                                <b>Lekarz:</b>
                            </div>
                            <div class="col-sm-4">
                                @ViewBag.Physician
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:6px">
                            <div class="col-sm-2">
                                <b>Opis:</b>
                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(model => model.Description)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h2>Twoje dane</h2>
                    <div class="container">
                        <div class="row" style="padding-bottom:6px">
                            <div class="col-sm-2">
                                <b>Imię i nazwisko:</b>
                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(model => model.PatientFirstName) @Html.DisplayFor(model => model.PatientLastName)
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:6px">
                            <div class="col-sm-2">
                                <b>Numer telefonu:</b>
                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(model => model.PatientPhoneNumber)
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:6px">
                            <div class="col-sm-2">
                                <b>E-mail:</b>
                            </div>
                            <div class="col-sm-4">
                                @Html.DisplayFor(model => model.PatientEmail)
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Potwierdzam" class="btn btn-primary pull-right" />
                    </div>
                </div>
            </div>
        </div>
        
    </div>
}