@model TwojDentysta.Models.Location

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        @Html.ActionLink("< Powrót", null, null, null, new { href = Request.UrlReferrer })
    </div>
    <br />
    <div class="row">
        <h2 class="text-center">
            @Html.DisplayFor(model => model.Name)
        </h2>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <img src="~/Images/@(Model.ID).jpg" class="img-rounded img-thumbnail" alt="img-thumbnail" />
        </div>
        <div class="col-lg-6">
            <div class="container">
                <div class="row">
                    <div class="col"> <i>Miasto</i> </div>
                </div>
                <div class="row">
                    <div class="col"> <h4> @Html.DisplayFor(model => model.City) </h4> </div>
                </div>
                <div class="row">
                    <div class="col"> <i>Adres</i> </div>
                </div>
                <div class="row">
                    <div class="col"> <h4> @Html.DisplayFor(model => model.Address) </h4> </div>
                </div>
                <div class="row">
                    <div class="col"> <i>Telefon kontaktowy</i> </div>
                </div>
                <div class="row">
                    <div class="col"> 
                        <h4>+48 @Html.DisplayFor(model => model.PhoneNumber).ToString().Insert(6, " ").Insert(3, " ")</h4> 
                    </div>
                </div>
                <div class="row">
                    <div class="col"> <i>Lokalizacja</i> </div>
                </div>
                <div class="row">
                    <div class="col">
                        <iframe src="https://maps.google.com/maps?q=wroclaw&t=k&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" style="border:0" width="300"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
